@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #B6FFFF;
  --dark: #121212;
}

body {
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* main */

main {
  text-align: center;
  margin: 3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--primary-color);
  border: 2px solid var(--dark);
  max-width: 600px;
  margin: 2rem auto;
}

h2 {
  font-size: xx-large;
  margin: 2rem;
}

.input-label {
  display: block;
  font-size: large;
  font-weight: 600;
}

.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--dark);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

#show-btn {
  background: var(--dark);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

#result {
  font-size: x-large;
  margin: 2rem 0;
}